/*top*/
.top{
    height: 30px;
    line-height: 30px;
    background-color: aliceblue;
}
.collection{
    background: url(../week7/collection.jpg) left center no-repeat;
    padding-left:17px;
}
/*logo*/
.logo{
    height:200px;
    background-color: #FFF;
}
.logo h1{
    margin-left: 100px;
}
.logopic{
    padding-left: auto;
    padding-top: 10px;
}
.logo_text{
    padding-top: 70px;
    font-size: 25px;
}
/*itemClass*/
.itemClass{
    height:30px;
    background-color: cornflowerblue;
}
/*below*/
.itemClass2{
    height:30px;
    background-color: cadetblue;
}
.content{
    padding-left: 165px;
}
.pro_style{
    color: darkslategrey;
    font-size: 20px;
    font-weight: bold;
}
.proPic_style{
    height:300px;
    width: 600px;
}
.tips{
    font-size: 14px;
}

/*endingPart*/
.endingPart{
    width:100%;
    bottom:0;
    height:170px;
    background-color: cadetblue;
}
.endContent{
    padding-top: 4%;
    padding-left: 30%;
}
.endingPart p{
    line-height: 33px;
}













