/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin:0;
	padding:0;
}
img{
	border:none;
}
li{
	list-style:none;
}
input,select,textarea{
	outline:none;
	border:none;
	background:none;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;
}

/*清浮动*/
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.clearfix{
	zoom:1;
}
.fl{
	float:left;
}
.fr{
	float:right;
}


.comWidth{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.leftArea{
	float:left;
}
.rightArea{
	float:right;
}



/*top*/
.top{
	height: 30px;
	line-height: 30px;
	background-color: aliceblue;
}
.collection{
	background: url(../week6/collection.jpg) left center no-repeat;
	padding-left:17px;
}
/*logo*/
.logo{
	height:200px;
	background-color: #FFF;
}
.logo h1{
	margin-left: 100px;
}
.logopic{
	 padding-left: auto;
	 padding-top: 10px;
 }
.logo_text{
	padding-top: 70px;
	font-size: 25px;
}
/*itemClass*/
.itemClass{
	height:30px;
	background-color: cornflowerblue;
}
/*mainPart*/
.main_text a{
	display: block;
	padding-top: 50px;
	font-size: 30px;
	font-weight: bold;
	padding-left: 100px;
	color: cornflowerblue;
}
.main_text p{
	font-size: 50px;
	font-weight: bold;
	padding-left: 450px;
	line-height:100px;
}
/*endingPart*/
.endingPart{
	width:auto;
	height:170px;
	background-color: cadetblue;
}
.endingPart p{
	padding-left: 450px;
	padding-top: 30px;
}