/*top*/
.top{
	height: 30px;
	line-height: 30px;
	background-color: aliceblue;
}
.collection{
	background: url(collection.jpg) left center no-repeat;
	padding-left:17px;
}
/*logo*/
.logo{
	height:200px;
	background-color: #FFF;
}
.logopic{
	 padding-left: auto;
	 padding-top: 10px;
 }
.logo_text{
	padding-top:70px;
	padding-left:50px;
	font-size: 25px;
}
/*itemClass*/
.itemClass{
	height:30px;
	background-color: cornflowerblue;
}
/*menu*/
.menu{
	text-align: left;
	font-size: 23px;
}
.menu_text{
	margin-left: 50px;
	margin-right: 120px;
}
.menu_html{
	height:50px;
	weight:50px;
}

/*mainPart*/
.main_text{
	padding-bottom: 100px;
}
.slogan{
	float: left;
	width:auto;
	font-size: 50px;
	color: darkcyan;
	padding-top: 70px;
	padding-left:350px;
}

/*endingPart*/
.endingPart{
	margin-top: 240px;
	width:auto;
	height:170px;
	background-color: cadetblue;
}
.endingPart p{
	padding-left: 450px;
	padding-top: 30px;
}