/*top*/
.top{
	height: 30px;
	line-height: 30px;
	background-color: aliceblue;
}
.collection{
	background: url(collection.jpg) left center no-repeat;
	padding-left:17px;
}
/*logo*/
.logo{
	height:200px;
	background-color: #FFF;
}
.logopic{
	 padding-left: auto;
	 padding-top: 10px;
 }
.logo_text{
	padding-top:70px;
	padding-left:50px;
	font-size: 25px;
}
/*itemClass*/
.itemClass{
	height:30px;
	background-color: cornflowerblue;
}
/*menu*/
.menu{
	text-align: left;
	font-size: 23px;
}
.menu_text{
	text-align: center;
    padding-left: 15%;
}
.html{
	display: inline-block;
}
.css{
	display: inline-block;
}
.menu_html{
	height:80px;
	width:150px;
	background-color: blueviolet;
}

/*mainPart*/
.main_text{
	padding-bottom: 100px;
}
.slogan{
	float: left;
	width:auto;
	font-size: 50px;
	color: darkcyan;
	padding-top: 6%;
	padding-left:28%;
}


/*endingPart*/
.endingPart{
    bottom:0;
	width:100%;
	height:170px;
	background-color: cadetblue;
	float: left;
}

.endContent{
	padding-top: 4%;
	padding-left: 30%;
}

.endingPart p{
	line-height: 33px;
}
