/*top*/
.top{
    width: auto;
    height: 30px;
    line-height: 30px;
    background-color: aliceblue;
}
.top a{
    float: right;
}
/*middle*/
.register_text{
    padding: 50px 400px;
}
.register_content{
    padding-left: 300px;
    line-height: 40px;
}
.enter_text{
    padding: 50px 400px;
}
.enter_content{
    padding-left: 300px;
    line-height: 40px;
}
.text_box{
    border: solid 1px gray;
    padding:5px 6px;
}
.sub_btm{
    margin-left:120px;
}

/*endingPart*/
.endingPart{
    bottom:0;
    width:100%;
    height:170px;
    background-color: cadetblue;
    float: left;
}

.endContent{
    padding-top: 4%;
    padding-left: 30%;
}

.endingPart p{
    line-height: 33px;
}
