/*top*/
.top{
    width: auto;
    height: 30px;
    line-height: 30px;
    background-color: aliceblue;
}
.top a{
    float: right;
}
/*middle*/
.register_text{
    padding: 50px 400px;
}
.register_content{
    padding-left: 300px;
    line-height: 40px;
}
.enter_text{
    padding: 50px 400px;
}
.enter_content{
    padding-left: 300px;
    line-height: 40px;
}
.text_box{
    border: solid 1px gray;
    padding:5px 6px;
}
.sub_btm{
    margin-left:120px;
}

/*endingPart*/
.endingPart_enter{
    margin-top: 210px;
    width:auto;
    height:170px;
    background-color: cadetblue;
}
.endingPart_enter p{
    padding-left: 450px;
    padding-top: 30px;
}

.endingPart_register{
    margin-top: 90px;
    width:auto;
    height:170px;
    background-color: cadetblue;
}
.endingPart_register p{
    padding-left: 450px;
    padding-top: 30px;
}