/*top*/
.top{
    height: 30px;
    line-height: 30px;
    background-color: aliceblue;
}
.collection{
    background: url(../week7/collection.jpg) left center no-repeat;
    padding-left:17px;
}
/*logo*/
.logo{
    height:200px;
    background-color: #FFF;
}
.logo h1{
    margin-left: 100px;
}
.logopic{
    padding-left: auto;
    padding-top: 10px;
}
.logo_text{
    padding-top: 70px;
    font-size: 25px;
}
/*itemClass*/
.itemClass{
    height:30px;
    background-color: cornflowerblue;
}

/*mainPart*/
.mainPart span{
    color: darkcyan;
    font-weight: bold;
}







/*endingPart*/
.endingPart{
    width:100%;
    position:absolute;
    bottom:0;
    height:170px;
    background-color: cadetblue;
}
.endContent{
    padding-top: 4%;
    padding-left: 30%;
}
.endingPart p{
    padding-left: 450px;
    padding-top: 30px;
}
